<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{ .Title }} | {{ .Site.Params.author }} </title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="/css/mui.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/custom.min.css" rel="stylesheet" type="text/css" />
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/mui.min.js"></script>
  <script src="/js/user.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.ganalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ .Site.Params.ganalytics }}');
</script>

</head>

